@(game: Game)

@import helper._
@import controllers.routes.javascript._

@main("Choose Door") {

@javascriptRouter("jsRoutes")(
Application.selectDoor
)

<script type="text/javascript">

    var goatUrl = '@routes.Assets.at("images/goat.png")';

    $(function(){
        $('.door-list img').click(function() {
            var gameId = @game.id;
            var doorNo = $(this).attr('id').substr(4);
            jsRoutes.controllers.Application.selectDoor(gameId, doorNo).ajax({
                success:function (data) {
                    var message =
                            "Door number " + data.goatDoor +
                                    " is a goat. Stay or switch?";
                    $('.doors h3').text(message);
                    $('#door' + data.goatDoor).attr('src', goatUrl);
                },
                error:function () {
                    alert("Error!")
                }
            });
        });
    });
</script>

<div class="main-content start">

    <div class="doors">
        <h3><strong>@game.playerName</strong>, please choose a door.</h3>

    <ul class="door-list">
        @for(i <- 1 to 3) {
        <li>
          <img id="door@i" class="door" src="@routes.Assets.at("images/door.jpg")"/>
        </li>
        }
    </ul>

    </div>
</div>
}
